body:before, body:after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

body:after {
  z-index: -2;
  background: linear-gradient(to right, #39B6F3, #4285F4) !important; }

body:before {
  z-index: -1;
  background: linear-gradient(to bottom, rgba(75, 87, 245, 0), #4B57F5) !important; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  position: relative;
  text-align: center;
  background: #4285F4;
  color: #4285F4;
  overflow-x: auto;
  overflow-y: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300; }

h1 {
  font-weight: 500 !important; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
  font-family: montserrat; }

b {
  font-weight: 600; }

a {
  color: #4285F4; }

ol, ul, p {
  color: #4e4e4e;
  text-align: left; }

ol {
  list-style: none;
  counter-reset: ol-counter; }
  ol li {
    position: relative;
    counter-increment: ol-counter; }
    ol li:before {
      content: counter(ol-counter) ".";
      z-index: 2;
      position: absolute;
      left: -1.2em;
      top: -.125em;
      color: #4285F4;
      font-weight: 400;
      font-size: 1.25em; }

.read-text {
  color: #4e4e4e;
  font-family: Open Sans;
  font-weight: 400; }

li img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 0.6em 0 1.2em 0;
  display: block;
  border-radius: 10px; }

.center {
  text-align: center; }

.half-size {
  font-size: 60%;
  padding: .5em 0; }

.separator {
  background: linear-gradient(to right, #4B57F5, #39B6F3);
  height: 3px;
  width: 150px;
  margin: 1.2em auto 1.6em;
  border-radius: 3px 0;
  opacity: .3; }

.static-size {
  display: inline-block;
  width: 280px;
  text-align: right; }
  .static-size.left {
    text-align: left; }

@media screen and (max-width: 1700px) {
  #content {
    width: 800px !important; }
  body, input {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; }
  #version, #copyright {
    font-size: 16px !important; }
  .half-size {
    font-size: 75%; } }

@media screen and (max-width: 1300px) {
  #content {
    margin-top: 2em;
    min-height: calc(100% - 2em) !important;
    animation: none !important; } }

#version, #copyright {
  position: absolute;
  top: 0;
  color: white;
  font-size: 18px;
  padding: .3em .5em; }

#copyright {
  right: 0; }

#content {
  z-index: 3;
  text-align: center;
  display: inline-block;
  min-height: 100%;
  background: white;
  width: 1150px;
  min-width: 800px;
  max-width: 100%;
  padding: 1em 1em 2em 1em;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  text-shadow: none;
  position: relative;
  animation: splash .5s 1 ease-out; }
  #content.disabled .hide-when-disabled {
    display: none; }
  #content:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: white;
    z-index: 1000;
    opacity: 1;
    animation: fade-out .3s 1 .2s ease-out forwards; }

@keyframes fade-out {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes splash {
  from {
    outline: 0px solid white; }
  to {
    outline: 150px solid rgba(255, 255, 255, 0); } }

#redirect-visual {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 1em; }
  #redirect-visual > *:not(.text-input) {
    vertical-align: middle;
    filter: drop-shadow(none); }
  #redirect-visual #click-to-change-cortana-bing {
    display: inline-block;
    cursor: pointer; }
    #redirect-visual #click-to-change-cortana-bing > * {
      vertical-align: middle; }
  #redirect-visual #search-logo {
    cursor: pointer; }
  #redirect-visual #bing-plus-cortana {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 26px; }
    #redirect-visual #bing-plus-cortana:before, #redirect-visual #bing-plus-cortana:after {
      content: "";
      display: block;
      height: 6px;
      width: 100%;
      position: absolute;
      top: 10px;
      background: #4285F4; }
    #redirect-visual #bing-plus-cortana:after {
      transform-origin: center;
      transform: rotate(90deg); }
  #redirect-visual #arrow {
    position: relative;
    display: inline-block;
    width: 60px;
    background: #4285F4;
    height: 6px;
    margin-right: 3px; }
    #redirect-visual #arrow:before {
      position: absolute;
      content: "";
      display: block;
      border: 6px solid #4285F4;
      height: 16px;
      width: 16px;
      border-bottom-width: 0;
      border-left-width: 0;
      transform: rotate(45deg);
      transform-origin: top right;
      right: -3px;
      top: 3px; }

#search-engine-pick {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  height: 128px; }
  #search-engine-pick #search-logo, #search-engine-pick #custom-search {
    margin-left: 1em; }
  #search-engine-pick #search-logo {
    height: 128px;
    filter: drop-shadow(none);
    cursor: pointer; }
  #search-engine-pick #search-engine {
    width: 200px; }

.will-fade-out {
  position: relative;
  top: 0px;
  transition: top .5s, opacity .5s; }
  .will-fade-out.fade-out {
    opacity: 0;
    top: -30px; }

#success-svg-anim {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  margin: 0 20px;
  max-width: 800px;
  border-radius: 10px; }
  #success-svg-anim.firefox #browser-under-tabs-color {
    fill: #202340 !important; }
  #success-svg-anim.firefox #browser-add-tab-icon {
    fill: #b8b9c2 !important; }
  #success-svg-anim.firefox .browser-top-right-icons {
    fill: white !important; }
  #success-svg-anim.firefox .chrome-only {
    display: none; }
  #success-svg-anim:not(.firefox) .firefox-only {
    display: none; }

.dropdown {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  text-align: left;
  min-width: 140px;
  color: #7f7f7f;
  font-weight: 400; }
  .dropdown .dropdown-text {
    cursor: pointer;
    position: relative;
    width: 100%;
    text-indent: 10px;
    line-height: 42px;
    border-bottom: 1px solid #d8d8d8;
    margin-right: 1em; }
    .dropdown .dropdown-text:after {
      position: absolute;
      right: 6px;
      top: 20px;
      content: '';
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 7px 6px 0 6px;
      border-color: #555 transparent transparent transparent; }
  .dropdown .dropdown-input {
    font-size: 0;
    outline: none !important;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: none;
    padding: 0;
    margin: 0 0 0 1px;
    background: transparent;
    text-indent: -10px;
    height: 100%;
    width: 100%; }
    .dropdown .dropdown-input:hover ~ .dropdown-text {
      background: #e8e8e8; }
    .dropdown .dropdown-input:focus ~ .dropdown-text {
      z-index: 2; }
      .dropdown .dropdown-input:focus ~ .dropdown-text:after {
        border-width: 0 6px 7px 6px;
        border-color: transparent transparent #555 transparent; }
  .dropdown ul {
    transition: all .2s ease;
    list-style-type: none;
    position: absolute;
    top: 30px;
    padding: 4px 0px 4px 0px;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    text-indent: 10px;
    line-height: 42px;
    background: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
    min-width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    transform: scale(0.8, 0.8);
    z-index: 10; }
    .dropdown ul li {
      cursor: pointer;
      position: relative;
      white-space: nowrap;
      padding-right: 10px; }
      .dropdown ul li:hover {
        background: #e8e8e8; }
      .dropdown ul li:after {
        content: '';
        background: #4285F4;
        position: absolute;
        width: 2px;
        height: auto;
        left: -1px;
        top: 50%;
        bottom: 50%;
        transition: .2s; }
      .dropdown ul li:hover:after, .dropdown ul li.selected:after {
        top: 0;
        bottom: 0; }
  .dropdown .dropdown-input:focus ~ ul {
    opacity: 1;
    visibility: visible;
    top: 43px;
    transform: scale(1, 1); }
  .dropdown .dropdown-input:focus ~ .dropdown-text:before,
  .dropdown .dropdown-input:hover ~ .dropdown-text:before {
    animation: dropdown-flip .4s 1;
    animation-fill-mode: forwards; }
  .dropdown.enable-animation .dropdown-text:before {
    content: '';
    background: #4285F4;
    position: absolute;
    right: 100%;
    left: 0;
    bottom: -1px;
    width: auto;
    height: 2px;
    animation: dropdown-flop .4s 1; }

@keyframes dropdown-flip {
  0% {
    right: 100%; }
  100% {
    right: 0; } }

@keyframes dropdown-flop {
  0% {
    right: 0;
    left: 0; }
  100% {
    right: 0;
    left: 100%; } }

.text-input {
  width: fit-content;
  position: relative;
  display: inline-block; }
  .text-input input {
    color: #333;
    box-sizing: border-box;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    padding: 7px 4px;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 75%;
    min-width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400; }
    .text-input input:hover {
      background: #e8e8e8; }
    .text-input input:hover ~ span,
    .text-input input:focus ~ span {
      animation: flip .4s 1;
      animation-fill-mode: forwards; }
  .text-input span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    width: auto;
    height: 2px;
    background: #4285F4;
    transition: 0.4s; }
  .text-input.enable-animation span {
    animation: flop .4s 1; }

@keyframes flip {
  0% {
    right: 100%; }
  100% {
    right: 0; } }

@keyframes flop {
  0% {
    right: 0;
    left: 0; }
  100% {
    right: 0;
    left: 100%; } }

.pretty-checkbox {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  overflow: hidden;
  padding: 2.8px;
  color: #7f7f7f; }
  .pretty-checkbox:hover {
    background: #e8e8e8; }
  .pretty-checkbox.enable-animation > input + label > span {
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1), background-size 100ms; }
  .pretty-checkbox.enable-animation > input:checked + label > span {
    animation: checkbox-shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1); }
    .pretty-checkbox.enable-animation > input:checked + label > span:before {
      animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards; }
  .pretty-checkbox > input {
    display: none; }
    .pretty-checkbox > input + label {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      cursor: pointer; }
      .pretty-checkbox > input + label > span {
        display: flex;
        position: relative;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        margin-right: 14px;
        width: 28px;
        height: 28px;
        background: transparent;
        border: 2px solid #7f7f7f;
        cursor: pointer;
        animation: checkbox-shrink-bounce 0ms linear; }
      .pretty-checkbox > input + label:hover > span {
        border-color: #4285F4; }
    .pretty-checkbox > input:checked + label > span {
      border: 14px solid #4285F4; }
      .pretty-checkbox > input:checked + label > span:before {
        content: '';
        position: absolute;
        top: -2.8px;
        left: -8.96px;
        border-right: 3.36px solid transparent;
        border-bottom: 3.36px solid transparent;
        transform: rotate(45deg);
        transform-origin: 0% 100%;
        animation: checkbox-check 0ms 0ms linear forwards; }

@keyframes checkbox-shrink-bounce {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }

@keyframes checkbox-check {
  0% {
    width: 0;
    height: 0;
    border-color: white;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  33% {
    width: 5.6px;
    height: 0;
    transform: translate3d(0, 0, 0) rotate(45deg); }
  100% {
    width: 5.6px;
    height: 14px;
    border-color: white;
    transform: translate3d(0, -14px, 0) rotate(45deg); } }
